@page
@using WorldTravel.Localization
@using WorldTravel.Extensions;
@using Microsoft.Extensions.Localization
@model WorldTravel.Web.Pages.Message.IndexModel
@inject IStringLocalizer<WorldTravelResource> L
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="page section-header mb-00">
    <div class="bredcrumbWrap mb-00">
        <div class="container breadcrumbs">
            <a class="bread breadfirst" href="/Home" title="@L["Home"]"><i class="fa fa-home fa-fw"></i> @L["Home"]</a><span style="font-size: 14px;" aria-hidden="true">›</span>
            <a class="bread breadsecond" href="#" onClick="return false;" title="@L["Message"]"><i class="fa fa-envelope fa-fw"></i> @L["Message"]</a>
        </div>
    </div>
</div>

<section class="message-area" style="height:900px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @(await Component.InvokeAsync<Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts.PageAlertsViewComponent>())
                <div class="chat-area" style="height:850px;">
                    @*PROFIL*@
                    <div class="profile">
                        <div class="col-lg-12">
                            <div class="my-card" style="height:200px;margin-top: 1.5rem;">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="@Model.UserViewModel.ImageUrl" alt="@L["ImageFailedToLoad"]" title="@L["User"]" class="rounded-circle p-1 bg-primary" width="110" height="110">
                                        <div class="mt-3">
                                            <h5>@Model.UserViewModel.Name @Model.UserViewModel.Surname</h5>
                                            @*<p class="text-secondary mb-1">Ad -soyad</p>*@
                                            <p></p>
                                            @* <p class="text-muted font-size-sm">Seviye</p> *@
                                        </div>
                                    </div>
                                    @* <hr class="my-4"> *@
                                </div>
                            </div>
                        </div>
                    </div>
                    @*BURAYA ILAN DETAYLARI VE KULLANICI SKOrLARI*@
                    <div class="chatlist">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="chat-header">
                                    <div class="msg-search">
                                        <input type="text" class="form-control" placeholder="@L["Search"]">
                                        @* <a class="add" href="#"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/add.svg" alt="add"></a>*@
                                    </div>

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="Open-tab" data-bs-toggle="tab" data-bs-target="#Open" type="button" role="tab" aria-controls="Open" aria-selected="true">@L["Messages"]</button>
                                        </li>
                                        @*   <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="Closed-tab" data-bs-toggle="tab" data-bs-target="#Closed" type="button" role="tab" aria-controls="Closed" aria-selected="false">Closed</button>
                                        </li>*@
                                    </ul>
                                </div>
                                <div class="modal-body" style="overflow-y: auto;">
                                    <div class="chat-lists">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                                                <div class="chat-list">
                                                    @if (Model.MessageViewModel.Count > 0)
                                                    {
                                                        foreach (var message in Model.MessageViewModel)
                                                        {
                                                            <a href="#" class="d-flex align-items-center" onclick="uploadMessageContents('@message.Id')">
                                                                <div class="flex-shrink-0">
                                                                    <img class="img-fluid rounded-circle" src="@message.ShownUserImageUrl" alt="@L["ImageFailedToLoad"]" title="@L["User"]" width="40" height="40" style="margin-right:5px;">
                                                                    @*    <span class="active"></span>*@
                                                                </div>
                                                                <div class="flex-grow-1 ms-3">
                                                                    <h3 style="font-size:14px;">@message.ShownUserFullName</h3>
                                                                    <p style="font-size:14px;">@message.ShownUserZodiacSign</p>
                                                                </div>
                                                            </a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>Mesajınız yok.</p>
                                                    }
                                                </div>
                                            </div>
                                            @* <div class="tab-pane fade" id="Closed" role="tabpanel" aria-labelledby="Closed-tab">
                                            <div class="chat-list">
                                            <a href="#" class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                            <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
                                            <span class="active"></span>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                            <h3>Mehedi Hasan</h3>
                                            <p>front end developer</p>
                                            </div>
                                            </a>
                                            </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chatbox" style="height:580px;">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div id="messageModalContent"></div>
                                <div class="send-box">
                                    <form action="">
                                        @Html.AntiForgeryToken()
                                        <textarea readonly class="form-control messageAlert" id="message" rows="2" placeholder="@L["WriteMessage"]" style="resize: none;"></textarea>
                                        <button readonly class="btn btn-primary messageAlert" id="btnSend" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> @L["Send"]</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script id="OnLoadTemplateMessage" type="text/x-jquery-tmpl">
    <div class="msg-head" style="min-height: 100px;"></div>
    <div class="modal-body" style="overflow-y: auto;min-height: 400px;"></div>
</script>

<script id="templateMessage" type="text/x-jquery-tmpl">
         <div class="msg-head" style="min-height: 100px;">
                    <div class="row">
                        <div class="col-8" id="areaMessageHeader">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid rounded-circle" src="${shownUserImageUrl}" alt="@L["ImageFailedToLoad"]" title="@L["User"]" width="50" height="50" style="margin-right:10px;">
                                </div>
    @*                            <input id="userId" type="text" hidden value="0" />
    *@                            <div class="flex-grow-1 ms-3">
                                    <h3>${shownUserFullName}</h3>
    @*                                <p>front end developer</p>
                                    *@
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <ul class="moreoption" id="areaMessageOption">
                                <li class="navbar nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-bell-slash"></i> @L["Mute"]</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-ban fa-fw"></i> @L["Block"]</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fa fa-trash fa-fw"></i> @L["DeleteMessage"]</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
         <div class="modal-body" style="overflow-y: scroll; height:400px;">
                    <div class="msg-body">
                        <ul>
    @* <li> <div class="divider"><h6>@L["Today"]</h6></div></li>*@
                          {{if messageContents }}
                              {{each messageContents}}
                                        {{if isMine}} <li  class="repaly" id="content-hover-${id}">   {{else}}    <li class="sender" id="content-hover-${id}">  {{/if}}
                                        <p> <span onclick="deleteOneMessageContents('${id}')">x</span> ${content}</p>
                                            <span class="time" style="font-weight: 100;">${messageSendDate}</span>
                                    </li>

                              {{/each}}
                         {{else}}
                            <li> Gösterilecek mesaj yok </li>
                         {{/if}}
                        </ul>
                    </div>
                </div>
</script>

@section scripts {
    <script>
        $(document).ready(function () {
            $('body').addClass('home9-parallax');
            $('.header-wrap').removeClass('classicHeader');
            $('#footer').addClass('mt-00');
            $(".chat-list a").click(function () {
                $(".chatbox").addClass('showbox');
                return false;
            });

            $(".chat-icon").click(function () {
                $(".chatbox").removeClass('showbox');
            });

            $('#messageModalContent').empty();
            $('#OnLoadTemplateMessage').tmpl().appendTo('#messageModalContent');

        });




        //_ChatBoxPartial
        $('.messageAlert').click(function (e) {
            e.preventDefault();
            if ($(this).prop('readonly') || $(this).attr('readonly')) {
                toastr.info('Lütfen kişi seçin');
            }
        });

        function uploadMessageContents(messageId) {

            allowMessage();

            var formData = new FormData();
            formData.append('MessageId', messageId);
            $.ajax({
                url: '/Message/Index?handler=UploadMessageContents',
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (result) {
                    if (result.success) {
                        $('#messageModalContent').empty();
                        $('#templateMessage').tmpl(result.data).appendTo('#messageModalContent');
                        $(".modal-body").animate({ scrollTop: 9999 }, "slow");
                        //alert('yes');
                        //pageLoadAndAfterAlert_Post("imageAlert", AlertType.success, "Profil resminiz başarıyla değiştirildi");
                    }
                    else {
                        toastr.error(result.message)
                    }
                },
                error: function (err) {
                    toastr.error('Bir hata oluştu.')
                }
            });

        }

        function deleteOneMessageContents(messageContentId) {
            toastr.info("<br /><br /><button type='button' id='confirmDeleteMessage' class='btn clear'>Evet</button>", 'Bu mesajı silmek istediğinize emin misiniz?',
                {
                    closeButton: true,
                    allowHtml: true,
                    showIcon: false,
                    onShown: function (toast) {
                        $("#confirmDeleteMessage").click(function () {
                            $('#content-hover-' + messageContentId).remove();
                            toastr.success('@L["MessageSuccessfullyDeleted"]');
                        });
                    }
                });
        }

        function allowMessage() {
            $('.messageAlert').removeAttr('readonly');
            $('#message').val('');
        }



    </script>
}