@page
@using WorldTravel.Extensions;
@model WorldTravel.Web.Pages.Country.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@{
    Layout = "~/Pages/Shared/_Layout2.cshtml";
    int firstLoadCount = 6;
    int itemIncreaseCount = 3;
}

<div class="page section-header">
    <div class="bredcrumbWrap mb-00">
        <div class="container breadcrumbs">
            <a class="bread breadfirst" href="/Home" title="@L["Home"]"><i class="fa fa-home fa-fw"></i> @L["Home"]</a><span style="font-size: 14px;" aria-hidden="true">›</span>
            <a class="bread breadsecond" href="#" onClick="return false;" title="@L["Countries"]">@L["Countries"]</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--Sidebar-->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
          @*  <div class="sidebar_tags">
                <div class="sidebar_widget categories">
                    <div class="widget-title"><h2>Category</h2></div>
                    <div class="widget-content">
                        <ul class="sidebar_categories">
                            <li class="lvl-1 "><a href="http://annimexweb.com/" class="site-nav lvl-1">Beauty</a></li>
                            <li class="lvl-1  active"><a href="#" class="site-nav lvl-1">fashion</a></li>
                            <li class="lvl-1 "><a href="#" class="site-nav lvl-1">summer</a></li>
                            <li class="lvl-1 "><a href="#" class="site-nav lvl-1">trend</a></li>
                            <li class="lvl-1 "><a href="#" class="site-nav lvl-1">winter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <div class="widget-title"><h2>Recent Comments</h2></div>
                    <div class="widget-content">
                        <div class="list list-sidebar-products">
                            <div class="grid">
                                <div class="grid__item">
                                    <div class="mini-list-item">
                                        <div class="mini-view_image">
                                            <a class="grid-view-item__link" href="#">
                                                <img class="grid-view-item__image blur-up lazyload" data-src="assets/images/recent-commnet-img.jpg" src="assets/images/recent-commnet-img.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="details">
                                            <div class="grid-view-item__meta"><strong>Tim</strong> On <a href="#">Lorem Ipsum</a></div>
                                            <a class="grid-view-item__title" href="#">On sait depuis longtemps que travailler avec</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item">
                                    <div class="mini-list-item">
                                        <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img class="grid-view-item__image blur-up lazyload" data-src="assets/images/recent-commnet-img.jpg" src="assets/images/recent-commnet-img.jpg" alt="" /></a> </div>
                                        <div class="details">
                                            <div class="grid-view-item__meta"><strong>Joy</strong> On <a href="#">Lorem Ipsum</a></div>
                                            <a class="grid-view-item__title" href="#">On sait depuis longtemps que travailler avec</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item">
                                    <div class="mini-list-item">
                                        <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img class="grid-view-item__image blur-up lazyload" data-src="assets/images/recent-commnet-img.jpg" src="assets/images/recent-commnet-img.jpg" alt="" /></a> </div>
                                        <div class="details">
                                            <div class="grid-view-item__meta"><strong>Jhon</strong> On <a href="#">Lorem Ipsum</a></div>
                                            <a class="grid-view-item__title" href="#">On sait depuis longtemps que travailler avec</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item">
                                    <div class="mini-list-item">
                                        <div class="mini-view_image"> <a class="grid-view-item__link" href="#"><img class="grid-view-item__image blur-up lazyload" data-src="assets/images/recent-commnet-img.jpg" src="assets/images/recent-commnet-img.jpg" alt="" /></a> </div>
                                        <div class="details">
                                            <div class="grid-view-item__meta"><strong>Tim</strong> On <a href="#">Lorem Ipsum</a></div>
                                            <a class="grid-view-item__title" href="#">On sait depuis longtemps que travailler avec</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <!--End Sidebar-->
        <!--Main Content-->
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
            <div class="custom-search">
                <form action="#" method="get" class="input-group search-header search" role="search" style="position: relative;">
                    <input class="search-header__input search__input input-group__field" type="search" name="q" placeholder="@L["EnterCountryName"]" id="txtCountrySearch" aria-label="Search" autocomplete="off">
                    <span class="input-group__btn"><button class="btnSearch" type="button"> <i class="icon anm anm-search-l"></i> </button></span>
                </form>
            </div>
            <div class="blog--list-view">
                <div class="row country-items">
                    @foreach (var countryContent in Model.CountryContent)
                    {
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 article country-item" style="padding: 20px;border: 2px solid #f9f9f9;">
                            <!-- Article Image -->
                            <a class="article_featured-image" href="/Country/Detail?Id=@countryContent.Id"><img width="287" height="124" class="blur-up lazyload" data-src="@countryContent.PreviewImageUrl" src="@countryContent.PreviewImageUrl" title="@countryContent.Title" alt="@L["ImageFailedToLoad"]"></a>
                            <h2 class="h3"><a href="/Country/Detail?Id=@countryContent.Id" class="counrtyTitle">@countryContent.Title</a></h2>
                            <ul class="publish-detail">
                                <li><i class="icon anm anm-clock-r"></i> <time>@countryContent.CreatedDate.ToTurkishDateString()</time></li>
                        @*        <li><i class="anm anm-eye-r" aria-hidden="true"></i> @countryContent.ReadCount @L["Views"]</li>
                                <li>
                                    <ul class="inline-list">
                                        <li><i class="icon anm anm-comments-l"></i> 0 @L["Comment"]</li>
                                    </ul>
                                </li>*@
                            </ul>
                            <div class="rte">
                                <p>@countryContent.ShortDescription.ApplyShortening(200)</p>
                            </div>
                            <p><a href="/Country/Detail?Id=@countryContent.Id" class="btn btn-secondary btn--small">@L["ReadMore"] <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                        </div>
                    }

                </div>
                @*   <div class="infinitpaginOuter" style="margin-top:50px;">
                <div class="infinitpagin">
                <a href="#" class="btn btn-primary countryLoadMore">@L["LoadMore"]</a>
                </div>
                </div>*@
            </div>
            <!--End Main Content-->
        </div>
    </div>

</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('body').addClass('home9-parallax');
            $('.header-wrap').removeClass('classicHeader');
        });

        //#region LoadMore
        //function country_load_more() {
        //    $(".country-items .country-item").slice(0, @firstLoadCount).show(300);
        //    $(".countryLoadMore").on('click', function (e) {
        //        e.preventDefault();
        //        $(".country-items .country-item:hidden").slice(0, @itemIncreaseCount).slideDown();
        //        if ($(".country-item:hidden").length == 0) {
        //            $(".infinitpagin").html('<div class="btn btn-warning homeLoadMore">Daha fazla kayıt yok</div>');
        //        }
        //    });
        //}

        //country_load_more();
        //#endregion

        $('#txtCountrySearch').on('keyup', function () {
            var searchVal = $(this).val().toLowerCase();
            $('.country-items .counrtyTitle').each(function (i) {

                var counrtyTitle = $(this).html().toLowerCase();
                var relatedParent = $(this).closest('.country-item');
                if (counrtyTitle.toLowerCase().indexOf(searchVal) > -1) {
                    //relatedParent.addClass('d-flex');
                    relatedParent.removeClass('d-none');
                    //relatedParent.next('hr').removeClass('d-none');
                }
                else {
                    //relatedParent.removeClass('d-flex');
                    relatedParent.addClass('d-none');
                    //relatedParent.next('hr').addClass('d-none');
                }
            });
        });

        $('#txtCountrySearch').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                event.preventDefault();
            }
        });

    </script>
}

