@page
@using WorldTravel.Extensions
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@model WorldTravel.Web.Pages.Home.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .top-text {
            text-align: center;
        }

            .top-text h6 {
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
            }

            .top-text h2 {
                color: #fff;
                font-size: 45px;
                font-weight: 800;
                text-transform: capitalize;
                margin-top: 15px;
                margin-bottom: 45px;
            }

        textarea {
            resize: none;
        }
    </style>
}

<!--Hero Parallax Section3-->
<div class="section">
    <div class="hero hero--large hero__overlay bg-size">
        <img class="bg-img blur-up" src="/web/images/home/home7.jpg" alt="" />
        <div class="hero__inner">
            <div class="container home-text">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-text header-text">
                            <h6>@L["Sectionh6"]</h6>
                            <h2>@L["Sectionh2"]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Hero Parallax Section3-->

<section id="about">
    <div class="container">
        <div class="about-top text-center">
            <h3>@L["AboutTitle"]</h3>
            <marquee behavior="" direction=""><p>@L["AboutMarque"]</p></marquee>
        </div>
        <div class="about-content">
            <div class="row">
                <div class="col-md-4 text-right wow fadeInRight" data-wow-duration="2s">
                    @*<p></p>*@
                    <br />
                    <h4>@Html.Raw(L["AboutCallCenter"])</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img class="rsm-yuvarla wow fadeIn" src="/web/ext/golden/images/h-call.png" alt="@L["ImageFailedToLoad"]">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-sm-4 text-center ">
                    <img class="rsm-yuvarla wow fadeIn " src="/web/ext/golden/images/h-doc-q.jpeg" alt="p2">
                </div>
                <div class="col-md-4  wow fadeInLeft" data-wow-duration="2s">
                    <br />
                    <h4>@Html.Raw(L["AboutDocumentQuestion"])</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right wow fadeInRight" data-wow-duration="2s">
                    <br />
                    <h4>@Html.Raw(L["AboutHandShake"])</h4>
                </div>
                <div class="col-md-4 text-center ">
                    <img class="rsm-yuvarla wow fadeIn" src="/web/ext/golden/images/h-handshake.png" alt="p1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-sm-4 text-center">
                    <img class="rsm-yuvarla wow fadeIn" src="/web/ext/golden/images/h-doc-t.jpg" alt="p2">
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s">
                    <br />
                    <h4>@Html.Raw(L["AboutDocumentTick"])</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-sm-4 text-center wow fadeIn">
                    <div class="about-circle">
                        <div class="indexle">
                            <p style="margin-top:-8px;">@Html.Raw(L["AboutLast"]) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container wow zoomIn" data-wow-duration="2s">
        <div class="cont-top text-center ">
            <h4>@L["ContactTitle"]</h4>
        </div>
        <div class="cont-content">
            <form method="post" class="golden-from" href="/Home">
                @Html.AntiForgeryToken()
                @(await Component.InvokeAsync<Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts.PageAlertsViewComponent>())
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.Name" label="@L["Name"]" placeholder="@L["ContactNamePlaceHolder"]" class="golden-from-element" />
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.Surname" label="@L["Surname"]" placeholder="@L["ContactSurnNamePlaceHolder"]" class="golden-from-element" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.Email" label="@L["Email"]" placeholder="@L["ContactEmailPlaceHolder"]" class="golden-from-element" />
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.PhoneNumber" class="golden-from-element mobilephone" placeholder="@L["ContactPhonePlaceHolder"]" label="@L["PhoneNumber"]" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-select asp-for="FormInputModel.Gender" label="@L["Gender"]" class="golden-from-element">
                            <option disabled selected>@L["ContactGenderPlaceHolder"]</option>
                        </abp-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-select asp-for="FormInputModel.CountryId" label="@L["Country"]" class="golden-from-element">
                            <option disabled selected>@L["ContactCountryPlaceHolder"]</option>
                        </abp-select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-xl-12">
                        <abp-input asp-for="FormInputModel.Description" placeholder="@L["ContactDescriptionPlaceHolder"]" class="golden-from-element" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:40px;">
                    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                        <abp-button text="@L["CreateForm"]" type="submit" class="btn-nice" button-type="Primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $(document).ready(function () {
            $('body').addClass('home9-parallax');
            $('#FormInputModel_BirthDate').attr('type', 'date');
            $('.golden-from label').hide();
            //query temizle

        @if (Model.FormInputModel.IsReturnPost)
        {
            @:$('.contantLink').click();
        }
                window.history.replaceState(null, '', window.location.pathname);
        });
    </script>
}