@page
@using WorldTravel.Extensions
@inject Microsoft.Extensions.Localization.IStringLocalizer<WorldTravel.Localization.WorldTravelResource> L
@model WorldTravel.Web.Pages.Home.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .h275 {
            height: 200px;
        }

        .p05 {
            padding: 0 5px;
        }

        .bcg {
            background-color: #f9f9f9;
        }

        .bt7 {
            bottom: -7px !important;
        }
    </style>
}

<!--Home slider-->
<div class="slideshow slideshow-wrapper pb-section">
    <div class="home-slideshow">
        <div class="slide slideshow--medium">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="/web/images/home/home6.jpg" src="/web/images/home/home6.jpg" alt="Outfit of Today" title="Outfit of Today" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content classic left">
                        <div class="container">
                            <div class="wrap-caption left">
                                <h2 class="h1 mega-title slideshow__title">Outfit of Today</h2>
                                <span class="mega-subtitle slideshow__subtitle">Lookbook ss 2018</span>
                                <span class="btn">View Catelog</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slideshow--medium">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="/web/images/home/home7.jpg" src="/web/images/home/home7.jpg" alt="Accessories" title="Accessories" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content classic left">
                        <div class="container">
                            <div class="wrap-caption left">
                                <h2 class="h1 mega-title slideshow__title">Accessories</h2>
                                <span class="mega-subtitle slideshow__subtitle">New Collection A-W ss18</span>
                                <span class="btn">Bilgi almak için tıklayın</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Home slider-->
@if (Model.CountryContent.Any())
{
    <div class="collection-box fadeIn section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">@L["PopulerCountries"]</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="collection-grid-4item">
                @foreach (var countryContent in Model.CountryContent)
                {
                    <div class="collection-grid-item p05">
                        <a href="/Country/Detail?Id=@countryContent.Id" class="collection-grid-item__link">
                            <img data-src="@countryContent.PreviewImageUrl" src="@countryContent.PreviewImageUrl" alt="@L["ImageFailedToLoad"]" title="@countryContent.Title" class="blur-up lazyload h275" />
                            <div class="collection-grid-item__title-wrapper bt7">
                                <h3 class="collection-grid-item__title btn btn--secondary no-border">@countryContent.Title</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
<hr />
@if (Model.VisaType.Any())
{
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">@L["PopularVisaTypes"]</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="categories-list-items">
                <div class="row country-items">
                    @foreach (var visaType in Model.VisaType)
                    {
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 article country-item" style="padding: 20px;border: 2px solid #f9f9f9;text-align:center;">
                            <a class="article_featured-image" href="/VisaType/Detail?Id=@visaType.Id"><img width="287" height="124" class="blur-up lazyload" data-src="@visaType.PreviewImageUrl" src="@visaType.PreviewImageUrl" title="@visaType.Title" alt="@L["ImageFailedToLoad"]"></a>
                            <h2 class="h3"><a href="/VisaType/Detail?Id=@visaType.Id" class="visaTypeTitle">@visaType.Title</a></h2>
                            <div class="rte">
                                <p>@visaType.ShortDescription.ApplyShortening(200)</p>
                            </div>
                            <ul class="publish-detail">
                                <li><i class="icon anm anm-clock-r"></i> <time>@visaType.CreatedDate.ToTurkishDateString()</time></li>
                            </ul>
                            <p><a href="/VisaType/Detail?Id=@visaType.Id" class="btn btn-secondary btn--small">@L["ReadMore"] <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<section id="about" class="bcg">
    <div class="container">
        <div class="about-top text-center">
            <h3>@L["AboutTitle"]</h3>
            @*            <marquee behavior="" direction=""><p>@L["AboutMarque"]</p></marquee>*@
        </div>
        <div class="about-content">
            <div class="row">
                <div class="col-md-4 text-right wow fadeInRight" data-wow-duration="2s">
                    @*<p></p>*@
                    <br />
                    <h4>@Html.Raw(L["AboutCallCenter"])</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img class="rsm-yuvarla wow fadeIn" src="/extensions/golden/images/h-call.png" alt="@L["ImageFailedToLoad"]">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-sm-4 text-center ">
                    <img class="rsm-yuvarla wow fadeIn " src="/extensions/golden/images/h-doc-q.jpeg" alt="p2">
                </div>
                <div class="col-md-4  wow fadeInLeft" data-wow-duration="2s">
                    <br />
                    <h4>@Html.Raw(L["AboutDocumentQuestion"])</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right wow fadeInRight" data-wow-duration="2s">
                    <br />
                    <h4>@Html.Raw(L["AboutHandShake"])</h4>
                </div>
                <div class="col-md-4 text-center ">
                    <img class="rsm-yuvarla wow fadeIn" src="/extensions/golden/images/h-handshake.png" alt="p1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-sm-4 text-center">
                    <img class="rsm-yuvarla wow fadeIn" src="/extensions/golden/images/h-doc-t.jpg" alt="p2">
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="2s">
                    <br />
                    <h4>@Html.Raw(L["AboutDocumentTick"])</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-sm-4 text-center wow fadeIn">
                    <div class="about-circle">
                        <div class="indexle">
                            <p style="margin-top:-8px;">@Html.Raw(L["AboutLast"]) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container wow zoomIn" data-wow-duration="2s">
        <div class="cont-top text-center ">
            <h4>@L["ContactTitle"]</h4>
        </div>
        <div class="cont-content">
            <form method="post" class="golden-from" href="/Home">
                @Html.AntiForgeryToken()
                @(await Component.InvokeAsync<Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts.PageAlertsViewComponent>())
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.Name" label="@L["Name"]" placeholder="@L["ContactNamePlaceHolder"]" class="golden-from-element" />
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.Surname" label="@L["Surname"]" placeholder="@L["ContactSurnNamePlaceHolder"]" class="golden-from-element" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.Email" label="@L["Email"]" placeholder="@L["ContactEmailPlaceHolder"]" class="golden-from-element" />
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-input asp-for="FormInputModel.PhoneNumber" class="golden-from-element mobilephone" placeholder="@L["ContactPhonePlaceHolder"]" label="@L["PhoneNumber"]" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-select asp-for="FormInputModel.Gender" label="@L["Gender"]" class="golden-from-element">
                            <option disabled selected>@L["ContactGenderPlaceHolder"]</option>
                        </abp-select>
                    </div>
                    <div class="form-group col-md-6 col-lg-6 col-xl-6">
                        <abp-select asp-for="FormInputModel.CountryId" label="@L["Country"]" class="golden-from-element">
                            <option disabled selected>@L["ContactCountryPlaceHolder"]</option>
                        </abp-select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-xl-12">
                        <abp-input asp-for="FormInputModel.Description" placeholder="@L["ContactDescriptionPlaceHolder"]" class="golden-from-element" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:40px;">
                    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                        <abp-button text="@L["CreateForm"]" type="submit" class="btn-nice" button-type="Primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $(document).ready(function () {
            $('body').addClass('home12-category');
            $('#FormInputModel_BirthDate').attr('type', 'date');
            $('.golden-from label').hide();
            //query temizle

        @if (Model.FormInputModel.IsReturnPost)
        {
            @:$('.contantLink').click();
        }
                window.history.replaceState(null, '', window.location.pathname);
        });
    </script>
}